* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 227, 227);
}

.container {
  width: 450px;

  border: 1px solid black;
  padding: 20px 30px;
}

.gradient-box {
    height: 220px;
    background-color: rgb(166, 135, 195);
}
.row-options {
    width:350px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.row-options :where(.columns,.colors){
    width: calc(100% /2 -12px);
}


.select select{
    padding: 8px 10px;
    border: 1px solid gray;
    width: 100%;
    outline: none;
    border-radius: 8px;
}

.colors input{
    width: 41px;
    padding: 0;
    margin-top: 0;

}

.button-row  {
   
    width: 350px;
    display: flex;
    justify-content: space-between;
    gap:5px;
    margin: 10px;
    padding: 15px 0;
    outline: none;
  

}
textarea{
    padding: 20px 10px;

    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.01rem;
}

.button-row button{
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;

}

.add{
        background-color:gray;

}